body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("fondo.png") no-repeat center center fixed;

}

/* Barra superior */
.topbar {
    background-color: #2A1A72; /* Azul-violeta del anillo */
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 3px solid #00C8FF; /* Línea estilo neón */
}

/* Logo en esquina superior derecha */
.topbar img {
    height: 50px;
    width: auto;
    margin-right: 15px;
}

/* Contenedor principal */
.container {
    display: flex;
    height: calc(100vh - 80px);
}

/* Menú lateral */
.sidebar {
    width: 220px;
    background-color: #2A1A72;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-right: 3px solid #00C8FF;
}

.menu-item {
    background-color: #0A0F2D;
    color: #39F3FF;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
    border: 2px solid #00C8FF;
}

.menu-item:hover {
    background-color: #00C8FF;
    color: #0A0F2D;
    transform: scale(1.04);
}

/* Área de contenido */
.content {
    flex: 1;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    color: #00C8FF;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}


.content-block {
    padding: 40px;
    border-bottom: 1px solid #00FF8A;
}

